<div class="container">
    <label>Especialidades</label>
    <div *ngFor='let esp of especialidades'>
        <input type="checkbox" value=" {{esp.nombre}} " (change)='seleccion($event)'> {{esp.nombre}}
    </div>


    <div class="col-3">
        <label>Especialistas</label>
        <div *ngFor='let especialista of especialidadesFiltro'>
            <input type="checkbox" value="{{especialista.doc_id}}"><label> {{especialista.apellido}}
                {{especialista.nombre}}</label> <br>
        </div>
    </div> 
</div>