




<button class="btn btn-danger" type="button" (click)="modal.open(turno)">Lanzar modal</button>
<ng-template #turno let-modal>
<div class="modal-header">
  <h4 class="modal-title">Modal</h4>
  <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>holisss</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="aceptarTurno()" >ok!</button>
</div>
 </ng-template>
 

  <hr>
  <table class="tabla2">
    <thead>
      <caption>Enero 2015</caption>
      <tr>
        <th>Lu</th>
        <th>Ma</th>
        <th>Mie</th>
        <th>Ju</th>
        <th>Vi</th>
        <th>Sá</th> 
      </tr>
    </thead>
    <tbody>
      <tr> 
        <td></td>
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
      </tr>
      <tr>
        <td>6 
          <tr>
            <td>
              11:30  
              <br><br>
              <button type="button" class="btn btn-primary"
              (click)="reservarTurno(turno, '11:30')">Reservar</button>
            </td>
          </tr>
          <tr>
            <td>
              14:30 
              <br><br>
              <button type="button" class="btn btn-primary"
              (click)="reservarTurno(turno)">Reservar</button>
            </td>
          </tr>
        </td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
      </tr>
      <tr> 
        <td>  
        </td>
        <td>14</td>
        <td>15</td>
        <td>16  </td>
      </tr>
 
    </tbody>
  </table>

 

  <div class="grid-row">
    <div class="grid-col grid-col-4" style="background-color: #d1d9dc;">
       
      <div style="padding: 15px">
        <div class="widget-title">BUSCAR POR ESPECIALIDAD</div>
                      <section class="widget-alt widget-appointment">
          <div class="widget-title">Consultas</div>
                         <form action="7nuevo-turnos-seleccionar.php" method="POST" name="frmEspecialidad">
            <div class="row">
                              Seleccione una especialidad :
                                <select name="especialid" id="especialid" onchange="cargar('7doctores.php?especialid='+this.value,'codprof');"> 
                                  <option value="AO">Alargamiento óseo Adulto</option>
                                  <option value="AF">Alargamiento óseo Ped</option>
                                  <option value="AA">Alergista Pediatrico</option>
                                  <option value="AL">Alergología</option> 
                               </select>
            </div>
            <div class="row">
                              Seleccione un profesional : 
                                <select name="codprof" id="codprof" onchange="cargar('lugar.php?codprof='+this.value+'&amp;especialid='+especialid.value,'lugar');"></select>
            </div>
            <div class="row">
                              Seleccione un lugar de atención : 
                                <select name="lugar" id="lugar"></select>
            </div>
                            <br>
            
            
            <button type="button" class="button button-primary" style="background: #8aa8b3; border-color: #78c7e5" onclick="javascript:fncValidar();">Ver dias disponibles</button>
          </form>
        </section>
                      
      </div>	
    </div> 
  </div>