<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
  <div *ngIf='!logeado'>
    <ul class="nav justify-content-end">
      <li class="nav-item"  >
        <a class="nav-link" href="registro">Registro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="login">Login</a>
      </li> 
    </ul>
  </div> 
  <div *ngIf='logeado'> 
    <div *ngIf='paciente'>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="turnos/listadoTurnoPaciente" tabindex="-1" aria-disabled="true">Mis turnos</a>
        </li>
        <li><a href="perfil"> <img src="{{usuario.archivo1}}" width="30px" height="40px" class="rounded"> </a></li>
        <li>
          <p> {{usuario.nombre}} </p>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout" tabindex="-1" aria-disabled="true">Cerrar sesion</a>
        </li> 
      </ul>
    </div>


    <div *ngIf='especialista'>
      <ul class="nav justify-content-end">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="turnos/listadoTurnoEspecialista" tabindex="-1" aria-disabled="true">Turnos</a>
        </li>
        <li><a href="perfil"><img src="{{usuario.archivo}}" width="50px" class="rounded"></a></li>
        <li>
          <p> {{usuario.nombre}} </p>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout" tabindex="-1" aria-disabled="true">Cerrar sesion</a>
        </li> 
      </ul>
    </div>

    <div *ngIf='administrador'>
      <ul class="nav justify-content-end">
        <li class="nav-item"  >
          <a class="nav-link" href="homeAdmin" tabindex="-1" aria-disabled="true">Home admin</a>
        </li>

        <li><a href="perfil"><img src="{{usuario.archivo}}" width="50px" class="rounded"></a></li>
        <li>
          <p> {{usuario.nombre}} </p>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="logout" tabindex="-1" aria-disabled="true">Cerrar sesion</a>
        </li>
      </ul>
    </div>

  </div>


</nav>