<div class="wrapper fadeInDown">
    <div id="formContent">
<form [formGroup]='formulario' (ngSubmit)='aceptarAdministrador()'>

    <div class="form-group">
      <input type="text" formControlName='nombre' class="fadeIn second" placeholder="Nombre">
      <br>
      <small class="form-text text-muted"
        *ngIf="formulario.get('nombre')?.hasError('required') && formulario.get('nombre')?.touched">El Nombre es
        requerido.</small>
    </div>

    <div class="form-group">
      <input type="text" formControlName='apellido' class="fadeIn second" placeholder="Apellido">
      <br>
      <small class="form-text text-muted"
        *ngIf="formulario.get('apellido')?.hasError('required') && formulario.get('apellido')?.touched">El
        apellido es
        requerido.</small>
    </div>


    <div class="form-group">
      <input type="number" formControlName='edad' class="fadeIn second" placeholder="Edad">
      <br>
      <small class="form-text text-muted"
        *ngIf="formulario.get('edad')?.hasError('required') && formulario.get('edad')?.touched">La edad es
        requerida.</small>
      <small id="edadHelp2" class="form-text text-muted"
        *ngIf="formulario.get('edad')?.hasError('min') && formulario.get('edad')?.touched">La edad minima es
        18.</small>
      <small id="edadHelp2" class="form-text text-muted"
        *ngIf="formulario.get('edad')?.hasError('max') && formulario.get('edad')?.touched">La edad maxima es
        99.</small>
    </div>


    <div class="form-group">
      <input type="number" formControlName='dni' class="fadeIn second" placeholder="DNI">
      <br>
      <small class="form-text text-muted"
        *ngIf="formulario.get('dni')?.hasError('required') && formulario.get('dni')?.touched">El
        dni es requerido.</small>
    </div>
 


    <div class="form-group">

      <input type="email" formControlName='email' class="fadeIn second" placeholder="Email">
      <br>
      <small class="form-text text-muted"
        *ngIf="formulario.get('email')?.hasError('required') && formulario.get('email')?.touched">El email es
        requerido.</small>
    </div>

    <div class="form-group">
      <input type="password" formControlName='clave' class="fadeIn third" placeholder="Clave">
      <br>
      <small class="form-text text-muted"
        *ngIf="formulario.get('clave')?.hasError('required') && formulario.get('clave')?.touched">La clave es
        requerida.</small>
    </div>


    <div class="form-group">
      <input class="file-input" type="file" formControlName="archivo" (change)="cambioArchivo($event)">
      <br> 
      <small class="form-text text-muted"
        *ngIf="formulario.get('archivo')?.hasError('required') && formulario.get('archivo')?.touched">El
        archivo es requerida.</small>
    </div>
 



    <button type="submit" class="btn btn-success" [disabled]='formulario.invalid'>ENVIAR</button>
  </form>
  {{mensaje}}

</div>
</div>