
<div class="container">
  <h2>Mis turnos</h2>
  <table class="table table-primary table-striped">
    <thead>
      <tr>
        <th>Especialidad</th>
        <th>Especialista</th>
        <th>Dia</th>
        <th>Hora</th>
        <th>Estado</th>
        <th>Accion</th> 
      </tr>
    </thead>
    <tbody>
      <tr  >
        <td> Neurologia</td>
        <td>Sheperd, Derek</td>
        <td>Martes 2 de Noviembre </td>
        <td>11:00hs</td>
        <td>Confirmado</td>
        <td> <button>Cancelar</button> </td> 
      </tr>
    </tbody>
  </table>   
  
</div>