/* You can add global styles to this file, and also import other style files */
body {  
background-image:url('./assets/doctor-sujetando-estetoscopio_23-2147822716.jpg');
background-size: 100%;
    background-repeat: no-repeat; 
    width:100%;
    height:100%;
    margin:0;
    border:0;
    padding:0;
    }